.idea/
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
Inventory System.sln
Library/
UniTask.Addressables.csproj
UniTask.DOTween.csproj
UniTask.Editor.csproj
UniTask.Linq.csproj
UniTask.TextMeshPro.csproj
UniTask.csproj
UserSettings/
obj/
